<div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-link" *ngIf="!status" (click)="editButton()">Update Profile</button>
    <form *ngIf="status" >
        <label for="li">

            <input type="file" (change)="getFile($event)" id="li" style="display:none;">

            <img [src]="profilePicture" class="mx-auto" height="250px" width="100%"    alt="">

        </label>
        <input type="email" [(ngModel)]="adminData.email" placeholder="enter email id" name="em" class="form-control my-4" >
        <input type="text" [(ngModel)]="adminData.password" placeholder="enter password" name="pw" class="form-control mb-4">

        <div class="d-flex w-100 justify-content-between">
            <button class="btn btn-success" (click)="handleUpdate()">Update</button>
            <button class="btn btn-danger" (click)="cancelButton()">Cancel</button>

        </div>

    </form>

</div>